<div class="docs-masthead">
    <div class="container">
      <a href="../welcome"><img src="../images/logo-small.png" class="logo"></a>
        <nav class="docs-nav pull-right">
            <a class="docs-nav-item" href="http://learninglocker.net">Main Website</a>
            <a class="docs-nav-item" href="http://v1docs.learninglocker.net">V1 Docs</a>
            <a class="docs-nav-item" href="https://github.com/LearningLocker/learninglocker">Github</a>
            <a class="docs-nav-item" href="https://github.com/LearningLocker/docs">Edit</a>
        </nav>
    </div>
</div>
