<div class="docs-masthead">
    <div class="container">
        <img src="http://docs.learninglocker.net/themes/ll_theme/img/logo-small.png" class="logo">
        <nav class="docs-nav pull-right">
            <a class="docs-nav-item" href="http://learninglocker.net">Website</a>
            <a class="docs-nav-item" href="https://github.com/learninglocker">Github</a>
            <a class="docs-nav-item" href="https://github.com/learninglocker/docs">Edit</a>
        </nav>
    </div>
</div>
<div class="banner">
    <div class="container">
        <div class="docs-header">
            <h1 class="docs-title">{{site.title}}</h1>
            <p class="lead docs-description"> {{site.description}}</p>
        </div>
    </div>
</div>
