<!DOCTYPE html>
<html>

  {% include head.html %}

    <body onload="prettyCode();">

    {% include header.html %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 docs-sidebar">
                <div class="sidebar-title top">
                    Overview
                </div>
                <ul class="nav">
                    <li><a href="{{ "/" | prepend: site.baseurl }}">Welcome</a></li>
                    <li><a href="{{ "/contributors" | prepend: site.baseurl }}">Contributors</a></li>
                </ul>
                <div class="sidebar-title">
                    Getting Started
                </div>
                <ul class="nav">
                    <li><a href="{{ "/requirements" | prepend: site.baseurl }}">Requirements</a></li>
                    <li><a href="{{ "/installation" | prepend: site.baseurl }}">Installation</a></li>
                    <li><a href="{{ "/troubleshooting" | prepend: site.baseurl }}">Troubleshooting</a></li>
                    <li><a href="{{ "/upgrading" | prepend: site.baseurl }}">Upgrading</a></li>
                </ul>
                <div class="sidebar-title">
                    Development
                </div>
                <ul class="nav">
                    <li><a href="{{ "/statements" | prepend: site.baseurl }}">xAPI Statements</a></li>
                    <li><a href="{{ "/extending" | prepend: site.baseurl }}">Extending LL</a></li>
                    <li><a href="{{ "/development" | prepend: site.baseurl }}">Dev Projects</a></li>
                    <li><a href="{{ "/analytics_api" | prepend: site.baseurl }}">Analytics API</a></li>
                </ul>
                <div class="sidebar-title">
                    User Manual
                </div>
                <ul class="nav">
                    <li><a href="{{ "/administration" | prepend: site.baseurl }}">Administration</a></li>
                    <li><a href="{{ "/reporting" | prepend: site.baseurl }}">Reporting tool</a></li>
                </ul>
                <div class="sidebar-title">
                    Get Involved
                </div>
                <ul class="nav">
                    <li><a href="{{ "/contribute" | prepend: site.baseurl }}">Contributing</a></li>
                    <li><a href="{{ "/issues" | prepend: site.baseurl }}">Reporting Issues</a></li>
                    <li><a href="{{ "/translation" | prepend: site.baseurl }}">Translations</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 docs-main">
                {{ content }}
            </div>
        </div>
    </div>

    {% include footer.html %}

    </body>
</html>
